<footer class="footer p-10 bg-neutral text-neutral-content fixed bottom-0 w-full justify-between">
    <nav class="flex flex-col items-start mx-4">
      <h6 class="footer-title">Services</h6> 
      <a class="link link-hover">Branding</a>
      <a class="link link-hover">Design</a>
      <a class="link link-hover"> </a>
      <a class="link link-hover"> </a>
    </nav> 
    <nav class="flex flex-col items-center mx-4">
      <h6 class="footer-title">Company</h6> 
      <a class="link link-hover">About me</a>
      <a class="link link-hover">Contact</a>
      <a class="link link-hover"> </a>
      <a class="link link-hover"> </a>
    </nav> 
    <nav class="flex flex-col items-end mx-4">
      <h6 class="footer-title">Legal</h6> 
      <a class="link link-hover">Terms of use</a>
      <a class="link link-hover">Privacy policy</a>
      <a class="link link-hover">Cookie policy</a>
    </nav>
  </footer>