<app-nav-bar></app-nav-bar>

<header class="bg-white mt-16 shadow fixed w-full top-0 z-20"><!-- mt-16 -->
	<div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
	  <h1 class="text-3xl font-bold tracking-tight text-gray-900">Utenti Registrati</h1>
	</div>
  </header>


  <main class="main-content">
	<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
		
		<div class="overflow-x-auto">
			<table class="table table-container">
			  <!-- head -->
			  <thead>
				<tr>
				 <!--  <th>Check to delete</th> -->
				  <th>Picture</th>
				  <th>Firstname</th>
				  <th>Lastname</th>
				  <th>Email</th>
				  <th>Password</th>
				  <th>Actions</th>
				</tr>
			  </thead>
			  <tbody>
				<tr *ngFor="let user of users">
					<th>
						<label>
							<div class="avatar">
								<div class="mask mask-squircle w-12 h-12">
									<img [src]="user.imageUrl" alt="Avatar of {{ user.name }} {{ user.surname }}" />
								</div>
							</div>
						</label>
					</th>
				<td>
                    <div class="flex items-center gap-3">
                        <div class="font-bold">{{ user.name }}</div>
                    </div>
				</td>
				<td>
					<div class="flex items-center gap-3">
						<div class="font-bold">{{ user.surname }}</div>
					</div>	
				</td>
				<td>{{ user.email }}</td>
				<td>
					<div>{{ user.password }}</div>
				</td>
				  <td>
						<button class="btn btn-primary" (click)="openUpdateModal(user)">Update</button>
						&nbsp;&nbsp;
						<button class="btn btn-secondary" (click)="openDeleteModal(user)">Delete</button>
				  </td>
				</tr>	
			  </tbody>  
			  <tfoot>
				<tr>
				  <th></th>
				  <th></th>
				  <!-- Input to update data -->
				  <!-- <th><input type="text"  [(ngModel)]="user.name" placeholder="Nome" class="input input-ghost w-full max-w-xs" /></th>
				  <th><input type="text"  [(ngModel)]="user.surname" placeholder="Cognome" class="input input-ghost w-full max-w-xs" /></th>
				  <th><input type="text"  [(ngModel)]="user.email" placeholder="Email" class="input input-ghost w-full max-w-xs" /></th>
				  <th><input type="text"  [(ngModel)]="user.password" placeholder="Password" class="input input-ghost w-full max-w-xs" /></th>
				  <th><button class="btn btn-primary" (click)="openUpdateModal()">Update</button></th> -->
				  <th></th>
				</tr>
				
				
			  </tfoot>
			</table>
			<div class="divider divider-secondary"></div>
			<div class="divider"></div>
		  </div>
	</div>
  </main>



  <app-footer></app-footer>

