/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
/* @import 'bootstrap/scss/bootstrap'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


$primary-color: #3498db;

body {
  /* background-color: $primary-color; */
  font-family: 'Inter', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

h1 {
  color: white;
}